@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap%27');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101215;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.chat-box {
  font-family: "Roboto Mono", monospace;
}

.profile-box {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  scroll-padding-top: auto;
  /* background-color: magenta; */
  /* background-color: rgba(255, 0, 255, 0); */
  /* background-color: rgba(40, 55, 88, 0.486); */

  border: 0.001em solid rgb(0, 0, 0);
  padding-left: 3px;
}

.profile-box-image {
  /* width: 2.5rem;
  height: 2.5rem; */
  width: 7.5rem;
  height: 7.5rem;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 10px;
}

.profile-box-username {
  /* font-size: 0.5rem; */
  font-size: 2.2rem;
  background-color: white; /* added in for browser source*/
  padding-left: 15px;
  padding-right: 15px; /* added in for browser source */
  width: fit-content;
  font-weight: 600;
  margin-left: 2px;
  border-radius: 10px;
}

.chat-box-messages {
  display: inline-block;
  /* font-size: 0.55rem; */
  font-size: 2.2rem; /* for the change from browser source*/
  font-weight: 550;
  width: 100%;
  word-wrap: break-word;
  margin-top: 1px;
}

.chat-box-message-span {
  overflow-y:auto;
  max-height: 70px;
  display: contents;
}

.chat-box-messages-message {
  background-color: #df55f100;
  margin-bottom: 2px;
  margin-top: 1px;
  color: white;
  text-shadow: 4px 4px black;
}

.message-chain-emote-single {
  width: 4.5rem;
  height: 4.5rem;
  /* width: 1.2rem;
  height: 1.2rem; */
}

.message-chain-emote-multiple {
  /* width: 0.6rem;
  height: 0.6rem; */
  width: 2.2rem;
  height: 2.2rem;
}

.message-chain-giphy {
  /* width: 5rem;
  height: 5rem; */
  max-width: 18rem;
  max-height: 18rem;
}

.message-chain-giphy-large {
  max-width: 36rem;
  max-height: 36rem;
}